
<h2>This chart shows the comfort levels of LGBTQ+ students in expressing themselves outwardly on campus versus in classroom settings.</h2>
<h2><span style="color: #4f978b;">15.69%</span> of the surveyed students said that they feel comfortable expressing themselves on campus.</h2>
<h2><span style="color: #636324;">5.88%</span> of the surveyed students said that they feel comfortable expressing themselves in the classroom.</h2>
<h3>Data is derived from a survey by the <a href="https://www.ninertimes.com/news/data-niner-times-surveys-unc-charlotte-lgbtq-community-on-campus-safety-and-comfort/article_04cd7292-49d0-11ef-8da8-9fffafa7da46.html">Niner Times</a> in 2024.</h3>

<script src="https://d3js.org/d3.v7.min.js"></script>
<div>
    <svg #chart1Svg></svg>
</div>
